<%= form_with(model: recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :yield %>
    <%= f.text_field :yield, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :active_time %>
    <%= f.text_field :active_time, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :total_time %>
    <%= f.text_field :total_time, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, class:'form-control' %>
  </div>

  <div class="field">
    <p>Level</p>
    <%= f.collection_select(:level_id, Level.all, :id, :level, include_blank: true) %>
  </div>

  <p>Ingredients</p>

  <%= f.fields_for :quantities do |ing_fields| %>

    <%= render 'ingredient_fields', f: ing_fields %>

    <br/>
  <% end %>


  <br/>

  <%= link_to_add_fields 'Add Ingredient', f, :ingredients %>

  <p>Directions</p>

  <%= f.fields_for :directions do |dir_fields| %>

    <%= render 'direction_fields', f: dir_fields %>

    <br/>
  <% end %>


  <br/>

  <%= link_to_add_fields 'Add Direction', f, :directions %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
