<div class="nested-fields">

  <%= f.hidden_field :_destroy %>
  <div class="field mb-3">

    <%= f.label :quantity %>
    <%= f.text_field :quantity, placeholder:'Quantity' %>

    <%= f.fields_for :ingredient do |ff| %>
      <%= ff.label :ingredient %>
      <%= ff.text_field :ingredient, placeholder:'Ingredient' %>
    <% end %>



  </div>
  <div>
    <%= link_to 'Remove', '#', class:'remove_fields' %>
  </div>

</div>
