<div class="nested-fields">

  <%= f.hidden_field :_destroy %>
  <div class="field mb-3">

    <%= f.label :quantity %>
    <%= f.text_field :quantity, placeholder:'Quantity' %>

    <%= f.label :ingredient %>
    <%= f.text_field :ingredient_name, placeholder:'Ingredient' %>





  </div>
  <div>
    <%= link_to 'Remove', '#', class:'remove_fields' %>
  </div>

</div>
