<%= render 'admin/header' %>

<section class="page-section ">
      <div class="container">

        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <p>
                  <strong>Name:</strong>
                  <%= @recipe.name %>
                </p>

                <p>
                  <strong>Description:</strong>
                  <%= @recipe.description %>
                </p>

                <p>
                  <strong>Yield:</strong>
                  <%= @recipe.yield %>
                </p>

                <p>
                  <strong>Active time:</strong>
                  <%= @recipe.active_time %>
                </p>

                <p>
                  <strong>Total time:</strong>
                  <%= @recipe.total_time %>
                </p>

                <p>
                  <strong>Image url:</strong>
                  <%= @recipe.image_url %>
                </p>

                <p>
                  <strong>Level:</strong>
                  <%= @recipe.level.level %>
                </p>

                <p>Ingredients:</p>
                <p>Directions:</p>
                <%@recipe.directions.each do |dir| %>
                  <ul>
                    <li><%=dir.direction %></li>
                  </ul>
                <% end %>


                <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
                <%= link_to 'Back', recipes_path %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
