<%= render 'header' %>
<%= render 'nav' %>
<section class="page-section bg-faded rounded product">
  <div class="container">

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Featured Recipes</h2>

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-wine-bottle"></i></div>
      <div class="divider-custom-line"></div>
    </div>



      <div class="row justify-content-center row-cols-1 row-cols-md-4 g-4">

        <% @recipes.each do |recipe| %>

        <div class="col product-item">
          <div class="card justify-content-center align-items-center h-100" data-bs-toggle="modal" data-bs-target="#productModal<%= recipe.id %>">
            <div class="product-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="product-item-caption-content text-center text-white"><%= recipe.name %></div>
            </div>
            <img src="<%= recipe.image_url %>" class="card-img-top img-fluid" alt="<%= recipe.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.name %></h5>
              <p class="card-text"><%= recipe.description %></p>
              <blockquote class="blockquote mb-0">
                <p>Level: <%= recipe.recipe_level.level.level %> </p>
              </blockquote>
            </div>
          </div>
        </div>

        <!-- Product Modal -->
        <div class="product-modal modal fade" id="productModal<%= recipe.id %>" tabindex="-1" aria-labelledby="productModal<%= recipe.id %>" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                        <div class="modal-body text-center pb-5">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Recipe Modal - Name-->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"><%= recipe.name %></h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-wine-bottle"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <img class="img-fluid rounded mb-5" src=<%= recipe.image_url %> alt=<%= recipe.name %> />

                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-wine-bottle"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>

                                        <!-- Yield Grid -->
                                        <div class="container">
                                          <div class="row">
                                            <div class="col-sm">
                                              Level: <%=recipe.recipe_level.level.level %>
                                            </div>
                                            <div class="col-sm">
                                              Total: <%=recipe.total_time %>
                                              <br/>
                                              Active: <%=recipe.active_time %>
                                            </div>
                                            <div class="col-sm">
                                              Yield: <%=recipe.yield %>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-wine-bottle"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>

                                        <!-- Ingredients/Directions Grid -->

                                        <div class="container">
                                          <div class="row">
                                            <div class="col-sm">
                                              <h4><strong>Ingredients:</strong></h4>
                                              <ul class="list-group list-group-flush">
                                                <%recipe.ingredients.each do |ing| %>
                                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                                  <div class='quantity'><%= ing.quantity.quantity %></div>
                                                  <div><%= ing.ingredient %> </div>
                                                </li>
                                                <% end %>
                                              </ul>
                                            </div>
                                            <div class="col-sm">
                                              <h4><strong>Directions:</strong></h4>
                                              <ol class="list-group list-group-flush list-group-numbered align-items-start">
                                                <% recipe.directions.each do |direction| %>
                                                <li class="list-group-item d-flex justify-content-between align-items-center"><%= direction.direction %></li>
                                                <% end %>
                                              </ol>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-wine-bottle"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <% end %>

      </div>

  </div>
</section>


<%= render 'footer' %>
