<%= render 'header' %>
<%= render 'nav' %>
<section class="page-section bg-faded rounded product">
  <div class="container">

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Featured Recipes</h2>

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-wine-bottle"></i></div>
      <div class="divider-custom-line"></div>
    </div>



      <div class="row justify-content-center row-cols-1 row-cols-md-4 g-4">

        <% @recipes.each do |recipe| %>

        <div class="col product-item">
          <div class="card justify-content-center align-items-center h-100" data-bs-toggle="modal" data-bs-target="#productModal<%= recipe.id %>">
            <div class="product-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="product-item-caption-content text-center text-white"><%= recipe.name %></div>
            </div>
            <img src="<%= recipe.image_url %>" class="card-img-top img-fluid" alt="<%= recipe.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.name %></h5>
              <p class="card-text"><%= recipe.description %></p>
              <blockquote class="blockquote mb-0">
                <p>Level: <%= recipe.level.level %> </p>
              </blockquote>
            </div>
          </div>
        </div>

        <%= render(:partial => "recipe_modal", :locals => {:recipe => recipe})%>
    

        <% end %>

      </div>

  </div>
</section>


<%= render 'footer' %>
